<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/overview">PL</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/overview">
            {{ "translateNav.firstLink" | translate }}
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "translateNav.secondLinkDropdown.projects" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="https://personal-management-kappa.vercel.app/dashboard-overview"
                >{{
                  "translateNav.secondLinkDropdown.personnelAndOrderManagement"
                    | translate
                }}</a
              >
            </li>
            <!-- <li>
              <a class="dropdown-item" href=""
                >{{
                  "translateNav.secondLinkDropdown.housekeepingCalculator"
                    | translate
                }}
              </a>
            </li> -->
            <li></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cvc-overview">
            {{ "translateNav.cvc" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-overview">
            {{ "translateNav.secondLinkDropdown.contact" | translate }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="language">
  <select
    class="form-select"
    aria-label="Default select example"
    #selectedLang
    (change)="switchLang(selectedLang.value)"
  >
    <option
      selected
      *ngFor="let language of translate.getLangs()"
      [selected]="language === translate.currentLang"
    >
      {{ language }}
    </option>
  </select>
</div>
