<div class="box">
  <h1>
    <span> {{ "translateNav.contentText.hi" | translate }} </span> <br />
    <span> {{ "translateNav.contentText.iam" | translate }} </span><br />
    <span> {{ "translateNav.contentText.webDeveloper" | translate }} </span>
  </h1>
  <div class="row">
    <div class="col">
      <p>{{ "translateNav.contentText.frontendDeveloper" | translate }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-contact-button appContactButton></app-contact-button>
    </div>
  </div>
</div>
