.wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color);
}
.container {
  .row {
    color: var(--gray);
    font-weight: var(--font-weight);
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

#contact-button {
  padding: 8px 22px;
  border-radius: 6px;
  border: none;
  background: var(--gray);
  font-weight: var(--font-weight);
  transition: all 0.2s ease;

  &:active {
      transform: scale(0.96);
      opacity: .9;
  }
 
}
