<div class="wrapper">
  <app-nav></app-nav>

  <div class="cvc">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{{ "translateNav.cvc" | translate }}</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <strong>{{
            "translateNav.cvc-overview.personalData" | translate
          }}</strong>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <strong>
            {{ "translateNav.cvc-overview.firstnamaLastname" | translate }}
          </strong>
          Peter Lakatos
        </div>
      </div>
    </div>
  </div>
</div>
